Soal 1
--

Diberikan 6 buah kaleng tempat menyimpan air yang memiliki jari-jari dan tinggi yang berbeda-beda. besaran nilai jari-jari dan tinggi kaleng adalah bilangan bulat berkisar **5** sampai dengan **40** cm. dengan menggunakan Python, tentukan :

1. Volume air yang dapat disiman di setiap kaleng
2. Total volume air yang tersimpan dalam semua kaleng
3. Kaleng manakah yang mampu menampung volume air terbesar, dan tentukan volume airnya
4. Kaleng manakah dengan volume air terkecil, dan tentukan volumenya
5. Rata-rata volume yang dapat ditampung oleh setiap kaleng

### Solusi

In [61]:
import numpy as np
from prettytable import PrettyTable

In [62]:
data = np.zeros((6,2))
PHI = 3.14

In [63]:
for i in range(len(data)):
    data[i][0] = (input(f"masukan jari-jari kaleng {i+1} :"))
    while not (5 <= data[i][0] <= 40):
        print("masukan angka dari rentang 5 - 40")
        data[i][0] = (input(f"masukan jari-jari kaleng {i+1} :"))
    data[i][1] = (input(f"masukan tinggi kaleng {i+1} :"))
    while not (5 <= data[i][1] <= 40):
        print("masukan angka dari rentang 5 - 40")
        data[i][1] = (input(f"masukan tinggi kaleng {i+1} :"))

masukan angka dari rentang 5 - 40
masukan angka dari rentang 5 - 40

In [64]:
totalVolume = np.array([PHI * i[0]* i[0] * i[1] for i in data])
for i in range(len(totalVolume)):
    print(f"Volume untuk kaleng {i+1} : {int(totalVolume[i])} cm^3")

Volume untuk kaleng 1 : 38204 cm^3
Volume untuk kaleng 2 : 16610 cm^3
Volume untuk kaleng 3 : 17295 cm^3
Volume untuk kaleng 4 : 66863 cm^3
Volume untuk kaleng 5 : 14130 cm^3
Volume untuk kaleng 6 : 31849 cm^3

In [65]:
print(f"total volume semua kaleng : {int(np.sum(totalVolume))} cm^3")

total volume semua kaleng : 184952 cm^3

In [66]:
volumeTertinggi = np.argmax(totalVolume)
print(f"volume tertinggi adalah kaleng {volumeTertinggi+1} dengan volume: {int(totalVolume[volumeTertinggi])} cm^3")

volume tertinggi adalah kaleng 4 dengan volume: 66863 cm^3

In [67]:
volumeTerrendah = np.argmin(totalVolume)
print(f"volume terrendah adalah kaleng {volumeTerrendah+1} dengan volume: {int(totalVolume[volumeTerrendah])} cm^3")

volume terrendah adalah kaleng 5 dengan volume: 14130 cm^3

In [68]:
ratarataVolume = int(np.sum(totalVolume)) / len(data)
print(f"rata rata volume semua kaleng adalah : {int(ratarataVolume)} cm^3")

rata rata volume semua kaleng adalah : 30825 cm^3

Soal 2
--

Diketahui ada 6 buah orang (P1,P2,...,P6) yang membutuhkan 5 buah bahan baku (B1,B2,...,B5) untuk membuat kue. kebutuhan bahan baku untuk masing-masing orang tersaji dalam tabel berikut :

Kebutuhan|B1|B2|B3|B4|B5
--- | --- | --- | --- | --- | ---
P1|10|6|8|12|4
P2|8|9|6|4|8
P3|6|9|4|7|7
P4|9|4|9|8|7
P5|12|6|11|8|8
P6|7|3|5|9|5

Selanjutnya, toko bahan kue yang menjual bahan-bahan tersebut hanya tersedia 3 buah, yaitu T1,T2, dan T3. Tabel di bawah ini menunjukkan harga bahan yang dijual di tiap toko.

Harga Jual Unit|T1|T2|T3
--- | --- | --- | ---
B1|Rp. 2.500|Rp. 2.350|Rp. 2.600
B2|Rp. 1.750|Rp. 1.650|Rp. 1.650
B3|Rp. 3.150|Rp. 3.250|Rp. 3.225
B4|Rp. 2.800|Rp. 2.650|Rp. 2.750
B5|Rp. 4.100|Rp. 4.150|Rp. 4.100

Dengan menggunakan NumPy, tentukan toko mana yang harus dipilih oleh tiap orang tersebut supaya mendapatkan total harga paling murah

### Solusi

In [53]:
kebutuhan = np.array([[10,6,8,12,4],[8,9,6,4,8],[6,9,4,7,7],[9,4,9,8,7],[12,6,11,8,8],[7,3,5,9,5]])
harga = np.array([[2500,2350,2600],[1750,1650,1650],[3150,3250,3225],[2800,2650,2750],[4100,4150,4100]])

In [54]:

x = PrettyTable()
x.add_column('Kebutuhan',[f"P{i+1}" for i in range(len(kebutuhan))])
for i in range(len(kebutuhan[0])):
    x.add_column(f'B{i+1}',[data[i] for data in kebutuhan])
print(x)

+-----------+----+----+----+----+----+
| Kebutuhan | B1 | B2 | B3 | B4 | B5 |
+-----------+----+----+----+----+----+
|     P1    | 10 | 6  | 8  | 12 | 4  |
|     P2    | 8  | 9  | 6  | 4  | 8  |
|     P3    | 6  | 9  | 4  | 7  | 7  |
|     P4    | 9  | 4  | 9  | 8  | 7  |
|     P5    | 12 | 6  | 11 | 8  | 8  |
|     P6    | 7  | 3  | 5  | 9  | 5  |
+-----------+----+----+----+----+----+

In [55]:

x = PrettyTable()
x.add_column('harga jual unit',[f"B{i+1}" for i in range(len(harga))])
for i in range(len(harga[0])):
    x.add_column(f"T{i+1}",[data[i] for data in harga])
print(x)

+-----------------+------+------+------+
| harga jual unit |  T1  |  T2  |  T3  |
+-----------------+------+------+------+
|        B1       | 2500 | 2350 | 2600 |
|        B2       | 1750 | 1650 | 1650 |
|        B3       | 3150 | 3250 | 3225 |
|        B4       | 2800 | 2650 | 2750 |
|        B5       | 4100 | 4150 | 4100 |
+-----------------+------+------+------+

In [60]:
hargaKebutuhan = np.zeros((len(kebutuhan),len(harga[0])))

for i in range(len(hargaKebutuhan)):
    for j in range(len(hargaKebutuhan[i])):
        hargaKebutuhan[i][j] = np.sum([i[j] for i in harga] * kebutuhan[i])

rekomendasi = np.array([np.argmin(i) for i in hargaKebutuhan])

In [59]:
x = PrettyTable()
x.add_column('kebutuhan',[f"P{i+1}" for i in range(len(rekomendasi))])
x.add_column('Rekomendasi Toko',[f"T{i+1}" for i in rekomendasi])
print(x)

+-----------+------------------+
| kebutuhan | Rekomendasi Toko |
+-----------+------------------+
|     P1    |        T2        |
|     P2    |        T2        |
|     P3    |        T2        |
|     P4    |        T2        |
|     P5    |        T2        |
|     P6    |        T2        |
+-----------+------------------+