Soal 1
--

Berdasarkan kasus pada file **Sample - Superstore.xls**, hitunglah banyaknya transaksi yang terjadi di masing-masing negara (Kanada dan Amerika Serikat) menggunakan program python. untuk mengetahui suatu transaksi terjadi di negara mana dapat dilihat dari dua digit karakter terdepan di **ORDER ID**.

Misalnya ada transaksi dengan ORDER ID CA-2016-152156 maka transaksi tersebut terjadi di negara Kanada (Prefiks : CA). Sedangkan untuk transaksi yang terjadi di Amerika Serikat dapat diidentifikasi dari prefiks ORDER ID nya US, Misalnya US-2015-108966.

### Solusi

In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('Sample-Superstore.xlsx')

Soal 2
--

Berdasarkan data transaksi yang ada, buatlah program Python untuk membuat tabel rekap banyaknya transaksi per tahun pada setiap negara dimana terjadi transaksi. Adapun tampilan tabelnya adalah sebagai berikut :

Negara|2014|2015|2016|2017
--- | --- | --- | --- | --- 
Amerika Serikat|xxx|xxx|xxx|xxx
Kanada|xxx|xxx|xxx|xxx

### Solusi

In [73]:
import pandas as pd

# Membuat DataFrame dari data Anda (asumsi data telah dimuat sebelumnya)
# Jika belum dimuat, pastikan untuk memuatnya terlebih dahulu.

# Langkah 1: Ekstrak tahun dari Order Date
df['Year'] = pd.to_datetime(df['Order Date']).dt.year

# Langkah 2: Filter Data untuk Tahun 2014-2017 dan Order ID yang diawali dengan "US" atau "CA"
filtered_df = df[(df['Year'] >= 2014) & (df['Year'] <= 2017) & df['Order ID'].str[:2].isin(['US', 'CA'])]

# Langkah 3: Hitung Jumlah Pesanan per Tahun
recap_table = filtered_df.groupby(['Order ID', 'Year'])['Year'].count().reset_index(name='Total Transaksi')

# Menggunakan pivot_table untuk mendapatkan tabel rekapitulasi seperti yang Anda inginkan
pivot_table = recap_table.pivot_table(index='Order ID', columns='Year', values='Total Transaksi', fill_value=0)

# Mengatur nama kolom
pivot_table.columns = pivot_table.columns.astype(str)

# Menghapus index untuk mempermudah perubahan
pivot_table.reset_index(inplace=True)

# Mengganti Order ID dengan hanya dua huruf pertama
pivot_table['Order ID'] = pivot_table['Order ID'].str[:2]

# Langkah 4: Hitung Jumlah Pesanan per Tahun untuk setiap Order ID (CA dan US)
result = pivot_table.groupby('Order ID').sum()

# Mengatur ulang indeks agar sesuai dengan tampilan yang Anda inginkan
result.reset_index(inplace=True)

# Menyesuaikan tampilan kolom
result.rename(columns={'Order ID': 'Year'}, inplace=True)
pd.options.display.float_format = '{:,.0f}'.format

display(result)

Year Year  2014  2015  2016  2017
0      CA 1,672 1,783 2,121 2,732
1      US   321   319   466   580